
    <!--<form method="post" action="https://sandbox.gateway.payulatam.com/ppp-web-gateway/">-->
        <!--<input name="merchantId"    type="hidden"  value="508029"   >-->
        <!--<input name="accountId"     type="hidden"  value="512321" >-->
        <!--<input name="description"   type="hidden"  value="juanda products"  >-->
        <!--<input name="referenceCode" type="hidden"  value="Pjuanda002" >-->
        <!--<input name="amount"        type="hidden"  value="3"   >-->
        <!--<input name="tax"           type="hidden"  value="0"  >-->
        <!--<input name="taxReturnBase" type="hidden"  value="0" >-->
        <!--<input name="currency"      type="hidden"  value="USD" >-->
        <!--<input name="signature"     type="hidden"  value="4d4d8edc69992c3df9ba57a5c330320b"  >-->
        <!--<input name="test"          type="hidden"  value="1" >-->
        <!--<input name="buyerEmail"    type="hidden"  value="test@test.com" >-->
        <!--<input name="responseUrl"    type="hidden"  value="http://www.test.com/response" >-->
        <!--<input name="confirmationUrl"    type="hidden"  value="http://www.test.com/confirmation" >-->
        <!--<input name="Submit"        type="submit"  value="Enviar" >-->
    <!--</form>-->
<aside>
    algo aca
</aside>
<main>
    <h1>erwer</h1>
    <p>The sidebar doesn't have as much content as the main section on the left, and yet it expands to the same height.</p>
</main>

